version: '2.3'

services:

  web:
    build:
      context: .
      network: host
    image: web
    networks:
      - web_nw
    container_name: web
    runtime: nvidia
    # command: python3 manage.py run -h 0.0.0.0
    # command: bash -c "cd /med-lightning && python3 setup.py build develop && cd /webapp &&  uwsgi --ini /webapp/uwsgi.ini"
    volumes:
      - .:/webapp
    environment:
      - FLASK_DEBUG=1
      - APP_SETTINGS=project.server.config.DevelopmentConfig
    depends_on:
      - redis

  nginx:
    image: nginx
    networks:
      - web_nw
    volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
        - web
    ports:
        - "8888:80"

  worker:
    image: web
    networks:
      - web_nw
    command: bash -c "cd /med-lightning && python3 setup.py build develop && cd /webapp && python3 worker.py"
    # command: python3 worker.py
    runtime: nvidia
    volumes:
      - .:/webapp
    environment:
      - APP_SETTINGS=project.server.config.DevelopmentConfig
    depends_on:
      - redis

  redis:
    networks:
      - web_nw
    image: redis:5.0.7-alpine

  dashboard:
    build:
      context: ./project/dashboard
      network: host
    image: dashboard
    networks:
      - web_nw
    container_name: dashboard
    ports:
      - 9181:9181
    command: rq-dashboard -H redis
    depends_on:
      - redis

networks:
  web_nw:
    driver: bridge
